header {
  background-image: url("https://evarazdin.hr/upload/publish/418015/thumb/page-dvorac_6835c0446c649_860x484c.jpg");
}

#marusevec_gumb {
  text-decoration: underline;
}

#lokaliteti_gumb {
  text-decoration: none;
}
