header {
  background-image: url("https://evarazdin.hr/upload/publish/417858/opeka-foto-tz-sjever-zagorja_682c47e3d6bdb.jpg");
}

#vinica_gumb {
  text-decoration: underline;
}

#lokaliteti_gumb {
  text-decoration: none;
}
